@CHARSET "UTF-8";

body{
	font-family: Arial, helvetica, sans-serif;	
}

.title{
	font-size: 50px;
	font-family: Arial, helvetica, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	color: #FFFFFF;
	text-align: center;
}

.imageMain{
	position: absolute;
	top: 100px;
	right: 0;
	width: 500px;
}

.select{
	font-size: 30px;
	color: #A8A8A8;
	padding: 0;
	padding-bottom: 10px;
	padding-left: 10px;
	border: none;
	background: none;
}

.h1 {
	font-size: 30px;
	color: #484848;
}
